@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: "Inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #555555;
}

a {
  color: #009FDA;
  text-decoration: none;
}

a:hover {
  color: #00BAFF;
}

input {
  font-family: "Inconsolata", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.invite {
  text-align: center !important;
  width: 640px;
  margin: auto;
}

.invite h1 {
  margin: 30px 0;
}

.invite section {
  margin: 60px 0
}