<template name="invite">
  {{#if guest}}
    <div class="invite">
      <h3>The Demokratik Republik of Krackistan invites</h3>
      <h1>{{guest.name}}</h1>
      <h3>to {{guest.partyName}} @ {{guest.partyTime}}</h3>
      {{#if guest.rsvp}}
        <p>Chill.</p>
      {{else}}
        <section>
          <h3>...but before, you must be initiated.</h3>
        </section>
        <section>
          <h1>TOME OF THE CZAR</h1>
          <h3><em>Community Agreements</em></h3>
          <h2>I.</h2>
          <h2>Sex demands explicit, verbal agreement</h2>
          <p>
            Our home is a space where we can express our sexuality freely and safely. Don't confuse that with consent. If we were asking for it, you would hear it from us. Don't ruin our safe space - if you want anything, just ask. Always make sure your partners are sober, and silence does not imply a yes. Consent is never implied - it has to be mutual and enthusiastic.
          </p>
          <h2>II.</h2>
          <h2>Seek informed exploration</h2>
          <p>
            We open our minds by learning new things and exploring intelligently. We strive for the most informed experiences, not the most liters or grams. Be aware of everything you consume and don't feel pressured to engage in experiences you are not comfortable with. Use your discretion to pace your alcohol consumption; this is not a frat. A fun night is one that teaches you something, not one that you can't remember.
          </p>
          <h2>III.</h2>
          <h2>Respect Our Home</h2>
          <p>
            We are fortunate to be able to create art in the space we inhabit. We want to share that with our friends and community, but we expect everyone to respect our home. Deliberately breaking things is unacceptable. This is our home, not a spectacle.
          </p>
          <h2>IV.</h2>
          <h2>Talk To Strangers</h2>
          <p>
            CZ is a safe space where we can talk, meet, laugh, kiss, love, dance, explore ourselves, and understand each other. The most interesting part of this space is the people who occupy it - if you're focusing on anything else, then you're missing the point.
          </p>
          </ol>
        </section>
        <input class="continue-button" type="button" value="Ok, got it!" />
      {{/if}}
    </div>
  {{else}}
    {{> notFound}}
  {{/if}}
</template>