<template name="invite">
  {{#if guest}}
    <div class="ui grid">
      <div class="sixteen wide column">
        <h3>The Demokratik Republik of Krackistan invites</h3>
        <h1>{{guest.name}}</h1>
        <h3>to {{guest.partyName}} @ {{guest.partyTime}}</h3>
        {{#if guest.rsvp}}
          <p>Chill.</p>
        {{else}}
          <input class="rsvp-button" type="button" value="RSVP" />
        {{/if}}
      </div>
  {{else}}
    {{> notFound}}
  {{/if}}
</template>

<template name="notFound">
  <h3>Enter from within.</h3>
  <p>
    se<br />
    nem<br />
    for<br />
    terra
  </p>
  <p>
    se<br />
    trans<br />
    for<br />
    mar
  </p>
  <p>(Paulo Leminski)</p>
</template>