<body>
  {{renderPage}}
</body>

<template name="parties">
  {{#if isLocal}}
    <h1>Celebrations</h1>
    <form>
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Space Goth Party" />
      <label for="name">When</label>
      <input id="when" name="when" type="text" placeholder="Saturday, April 20, 1:37 PM" />
      <input type="submit" value="Invite" />
    </form>
    <table>
      {{#each list}}
        {{> partyItem}}
      {{/each}}
    </table>
  {{else}}
    {{> notFound}}
  {{/if}}
</template>

<template name="partyItem">
  <tr>
    <td><a href="{{guestsPath _id}}">{{name}}</a></td>
    <td>{{when}}</td>
  </tr>
</template>

<template name="guests">
  {{#if party}}
    <h1>{{party.name}}</h1>
    <p>{{party.when}}</p>
    <form>
      <label for="host">Host</label>
      <input id="host" name="host" type="text" placeholder="Ivan III the Great" />
      <label for="guest">Guest</label>
      <input id="guest" name="guest" type="text" placeholder="Hannah Arendt" />
      <input type="submit" value="Submit" />
    </form>
    {{#if myGuest}}
      <span>Chill. Now send {{myGuest.name}} this invite link:</span>
      <input type="text" value="{{inviteUrl myGuest._id}}" readonly="readonly" />
    {{/if}}
    <table>
      <tr>
        <td>Check-in</td>
        <td>Host</td>
        <td>Guest</td>
        <td>RSVP</td>
        <td>Invite</td>
      </tr>
      {{#each list}}
        {{> guestItem}}
      {{/each}}
    </table>
  {{else}}
    {{> notFound}}
  {{/if}}
</template>

<template name="guestItem">
  <tr>
    <td>
      {{#unless check}}
        <input class="check-in-button" type="button" value="Check-in" />
      {{/unless}}
    </td>
    <td>{{host}}</td>
    <td>{{name}}</td>
    <td>
      {{#if rsvp}}
        Yes
      {{else}}
        No
      {{/if}}
    </td>
    <td><a href="{{invitePath _id}}">Invite</a></td>
  </tr>
</template>